.projects-container {
  max-width: 1200px;
  margin: 10% auto;
  margin-left: 12%;
  padding: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.project-item {
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-item h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.project-item p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.project-links {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: bottom 0.9s ease, opacity 0.9s ease;
}

.project-item:hover .project-links {
  bottom: 20px;
  opacity: 1;
}

.view-project {
  padding: 8px 16px;
  border-color: #000;
  background-color: rgba(178, 176, 176, 0.9);
  color: #000;
  text-decoration: none;
  border-radius: 15px;
  font-size: 14px;
  margin: 0 5px;
}

.view-project:hover {
  background-color: rgba(76, 145, 119, 0.9);
}

/* .view-project i {
  margin-left: 5px;
} */
